<div class="profile">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="mainheading">
        <div class="header">
            <div class="heading">
                <h2>Profile</h2>
            </div>
            <div class="images">
                <div class="bell"> <i class="pi pi-bell" style="font-size: 1.2rem"></i></div>
                    <p-divider layout="vertical">
                    </p-divider>
                    <div class="image">
                    <img src="/assets/girl icon.jpg">
                </div>
            </div>
        </div>

        <div class="main">
            <div class="picture">
                <img src="/assets/girl icon.jpg">
            </div>
            <label>John Marshall</label>
            <div class="container">
                <div class="content">
                    <form [formGroup]="profileform" (ngSubmit)="onSubmit()">
                        <h3>Edit Profile</h3>

                        <div class="user-details">
                            <div class="input-box">
                                <h5>First Name</h5>
                                <input type="text" formControlName="firstName" placeholder="John" pInputText>
                                <div
                                    *ngIf="profileform.controls['firstName'].touched && !profileform.controls['firstName'].valid ">

                                    <span *ngIf="profileform.controls['firstName'].hasError('required') ">
                                        First name is required
                                    </span>
                                    <span *ngIf="profileform.controls['firstName'].hasError('minlength') ">
                                        Min length is 1
                                    </span>
                                    <span *ngIf="profileform.controls['firstName'].hasError('maxlength') ">
                                        max length is 15
                                    </span>
                                </div>
                            </div>

                            <div class="input-box">
                                <h5>Last Name</h5>
                                <input type="text" formControlName="lastName" placeholder="Marshall" pInputText>
                                <span class="ml-2"></span>
                            </div>
                        </div>
                        <div class="user-details1">
                            <div class="input-box">
                                <h5>Email</h5>
                                <input type="text" formControlName="email" placeholder="John.marshall@gmail.com"
                                    pInputText>
                                <span
                                    *ngIf="profileform.controls['email'].touched && !profileform.controls['email'].valid ">

                                    <span *ngIf="profileform.controls['email'].hasError('required') ">
                                        Email is required
                                    </span>
                                    <span *ngIf="profileform.controls['email'].hasError('email') ">
                                        Email is invalid
                                    </span>

                                </span>
                            </div>
                        </div>
                        <div class="user-details2">
                            <div class="input-box">
                                <h5>Mobile Number</h5>
                                <input type="number" formControlName="mobileNumber" placeholder="+1(415)456 7890"
                                    pInputText>
                                <span class="ml-2"></span>
                            </div>
                            <div class="input-box">
                                <h5>Pincode Address</h5>

                                <input type="pincode" formControlName="pincodeAddress" placeholder="0001895" pInputText>
                            </div>

                        </div>
                        <div class="btn">
                            <p-toast position="top-right"></p-toast>

                            <p-button type="Submit" label="Save"></p-button>

                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>