.profile {
    display: flex;
}
.header {
    display: flex;
    // margin-left: rem;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;

}

img {
    height: 160px;
    width: 160px;
    margin-left: 650px;
}
.images img {
    height: 40px;
    width: 40px;
    margin-left: 400px;

}

.images {
    display: flex;
    margin-left: 1000px;
}

.bell {
    // margin-left: 500px;
    margin-top: 10px;
    color: #0A376E;
    border: 1px solid #F5F5F5;
    margin-left: 20px;

}

.mainheading h1 {
    color: #000000;
    font-style: normal;
    font-weight: 100;
    margin-left: 30px;

}
.mainheading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.main {
    margin-top: 10vh;
    
    border: 3px solid #D4D4D4;
    margin-left: 80px;
    height: 600px;
    width: 1500px;



}
.mainheading h3 {
    margin-left: 240px;
    margin-top: -14rem;


}
.input-box h5 {
    font-size: 14px;
    color: #3e3e3e;
}

.main label {
    margin-left: 38rem;
    position: absolute;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #1E1E1E;    ;
    padding-bottom: 1rem;
    top: 15rem;
    

}


.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: 31rem;
    width: 53rem;
    padding: 5rem 1rem 0;
    height: 95vh;
    display: flex;
    justify-content: center;
    color: #1E1E1E;
    
    
}

.content form .user-details {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 600px;
    margin-top: 120px;

    

}
.content form .user-details1 {
    margin-left: 600px;


}
.content form .user-details2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 600px;
    margin-top: 20px;

    

}
.user-details1 .input-box input {
    height: 3rem;
    width: 40rem;
    font-size: 1rem;
    padding-left: 1rem;
    background: transparent;
    border-color: #D4D4D4;
    color: #000000;
    border: 0.5px solid #1E1E1E;

}
form .user-details .input-box {

    width: calc(100% / 2 - 2rem);

}
form .user-details2 .input-box {

    width: calc(100% / 2 - 2rem);

}

form .input-box span.details {
    display: block;
    font-weight: 500;
    padding-left: 2rem;

}

.user-details .input-box input {

    height: 3rem;
    width: 18rem;
    font-size: 1rem;
    padding-left: 1rem;
    background: transparent;
    border-color: #D4D4D4;
    color: #000000;
    border: 0.5px solid #1E1E1E;


}
.user-details2 .input-box input {

    height: 3rem;
    width: 18rem;
    font-size: 1rem;
    padding-left: 1rem;
    background: transparent;
    border-color: #D4D4D4;
    color: #000000;
    border: 0.5px solid #1E1E1E;


}

.user-details .input-box span {
    color: rgb(255, 0, 0);
}
.user-details1 .input-box span {
    color: rgb(255, 0, 0);
}

::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1rem;
    color: #1E1E1E;

}
:host::ng-deep.p-button{

    height: 50px;
    width: 347px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    
  
    // margin-left: 210px;
    background-color: #0AA6FE;
}
