.vl {
    border-right: .0625rem solid rgb(218, 216, 216);
    height: 62rem;
    width: 15rem;

}

.sidebar-brand {

    color: #0A376E;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 6rem;
}

.sidebar-menu dl {

    padding: .5rem 6rem;

}
.dashboard{
    display: flex;
    padding: .5rem 6rem;
}
.users{
    display: flex;
    align-items: center;
    margin-left: 91px;
}
.sidebar-menu span {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
}

.sidebar-menu a {
    display: block;
    color: black;
    font-size: 1rem;
}
.active-link {
    cursor: pointer;
     background-color: #0AA6FE;
    
  }
  .dashboard:hover {
    cursor: pointer;
    background-color: #e8edf5;
  }
  


