<div class="vl">

    <div class="sidebar">


        <div class="sidebar-brand">
            <h1>Imaginnovate</h1>
        </div>
        <div class="sidebar-menu">
            <dt>
                <div class="dashboard">
                    <i class="pi pi-home"></i>
                    <a routerLink="/dashboard/dashboard-graph"><span>Dashboard</span></a>

                </div>
                <div class="dashboard">
                    <i class="pi pi-envelope"></i>
                    <a routerLink="/dashboard/profile"><span>Profile</span></a>

                </div>
                <div class="dashboard">
                    <i class="pi pi-user"></i>
                    <a routerLink="/dashboard/users-list"><span>Users</span></a>

                </div>
            
            
                <dl>
                    <span class="pi pi-cog">Settings</span>
                </dl>
                <dl>
                    <a routerLink="/account/register">
                        <span class="pi pi-sign-out">log Out</span>
                    </a>
                </dl>


            </dt>
        </div>
    </div>
</div>