.user {
    display: flex;

}

.header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;

}
.pi {
    // margin-left: 500px;
    margin-top: 10px;
    color: #0A376E;
    border: 1px solid #F5F5F5;
    margin-right: 40px;

}

img {
    height: 40px;
    width: 40px;

}

.images {
    display: flex;
    margin-left: 100px;
}



.table {
    margin-left: 3rem;
    margin-top: 6rem;
    width: 90rem;
    height: 38rem;
    border: .0625rem solid #D4D4D4;
    border-radius: .5rem;

}


// // .view {

// //             display: flex;
// //             flex-wrap: wrap;
// //             justify-content: space-between;
// // }

// .mainheading h1 {
//     color: #000000;
//     font-family: 'Poppins', sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     margin-left: 1.8125rem;

// }

// .table {
//     margin-left: 3.75rem;
//     margin-top: 7.5rem;
//     width: 77.375rem;
//     height: 38.125rem;
//     border: .0625rem solid #D4D4D4;
//     border-radius: .5rem;

// }

// .pi {

//     color: #1473E6;
//     padding-top: 30px;


// }
// .view {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin: 0rem 0rem 1rem;
//     padding: 0rem 1.0323rem 1rem;
//     background: #FFFFFF;


//     border-radius: 4px;
// }