.user {
    display: flex;

}

.header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-top: .625rem;
    margin-left: 1rem;

}

.pi {
    margin-top: 1rem;
    color: #0A376E;
    border: .0625rem solid #F5F5F5;
    margin-right: 3rem;

}

img {
    height: 3rem;
    width: 3rem;

}

.images {
    display: flex;
    margin-left: 6rem;
}

.table {
    margin-left: 3rem;
    margin-top: 6rem;
    width: 90rem;
    height: 38rem;
    border: .0625rem solid #D4D4D4;
    border-radius: 1rem;

}