<div class="user">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="mainheading">

        <div class="header">
            <div class="heading">
                <h2>Users List</h2>
            </div>
            <div class="images">
                <div>
                    <i class="pi pi-bell"></i>
                </div>
                <div>
                    <img src="/assets/girl icon.jpg">
                </div>
            </div>
        </div>
        <div class="table">
            <p-table [value]="products" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let columns of list">{{columns}}</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td>{{product.Name}}</td>
                        <td>{{product.EmailAddress}}</td>
                        <td>{{product.PhoneNumber}}</td>
                        <td>{{product.DateCreated}}</td>
                        <td>{{product.PincodeAddress}}</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>