
<app-table [hero]="data"></app-table>




<div class="checkboxes">
    <h2>checkbox works!</h2>
    <p-checkbox name="termsAndcondittons" value="accepted" label="I have read the terms and conditions"
        [(ngModel)]="isAccepted"></p-checkbox>
    <br>
    {{isAccepted}}
    <br>
    <p-checkbox name="termsAndcondittons" [binary]="true" label="I have read the terms and conditions"
        [(ngModel)]="isaccepted" (onChange)="termsAndConditions($event)"></p-checkbox>
    <br>
    {{isaccepted}}
    <br>
    <p-checkbox name="fruits" value="apple" label="Apple" [(ngModel)]="selectedFruites"
        (onChange)="showSelectedFruits($event)"></p-checkbox>
    <br>
    <p-checkbox name="fruits" value="orange" label="Orange" [(ngModel)]="selectedFruites"
        (onChange)="showSelectedFruits($event)"></p-checkbox>
    <br>
    <p-checkbox name="fruits" value="pineapple" label="PineApple" [(ngModel)]="selectedFruites"
        (onChange)="showSelectedFruits($event)"></p-checkbox>
    <br>
    <p-checkbox name="fruits" value="mango" label="Mango" [(ngModel)]="selectedFruites"
        (onChange)="showSelectedFruits($event)"></p-checkbox>
    <br>
    <p-checkbox name="fruits" value="grapes" label="Grapes" [(ngModel)]="selectedFruites"
        (onChange)="showSelectedFruits($event)"></p-checkbox>
    <br>
    {{selectedFruites}}
    <br>
</div>