<div class="vl">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1>Imaginnovate</h1>
        </div>
        <div class="sidebar-menu">
            <dt>
                <div class="dashboard" routerLinkActive="active-link">
                    <i class="pi pi-home"></i>
                    <a routerLink="/dashboard/dashboard-graph"><label>Dashboard</label></a>

                </div>
                <div class="dashboard" routerLinkActive="active-link">
                    <i class="pi pi-envelope"></i>
                    <a routerLink="/dashboard/profile"><span>Profile</span></a>

                </div>
                <div class="dashboard" routerLinkActive="active-link">
                    <i class="pi pi-user"></i>
                    <a routerLink="/dashboard/users-list"><span>Users</span></a>

                </div>
                <div class="dashboard">
                    <span class="pi pi-cog">Settings</span>
                </div>

                <div class="dashboard" routerLinkActive="active-link">

                    <a routerLink="/account/register">
                        <span class="pi pi-sign-out">log Out</span>
                    </a>
                </div>
            </dt>
        </div>
    </div>
</div>