.dashboard {
    display: flex;

}

.mainheading {
    margin-left: 1.25rem;
}

.header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-top: .625rem;
    margin-left: 1.25rem;

}

img {
    height: 2.5rem;
    width: 2.5rem;
}

.images {
    display: flex;
    margin-left: 81.25rem;
}

.pi {
    margin-top: .625rem;
    color: #0A376E;
    border: .0625rem solid #F5F5F5;
    margin-right: 2.5rem;

}

.heading h2 {

    color: #0A376E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 0.2rem;
    text-align: left;
    margin-left: 0.2rem;
    color: #0A376E;
}

.cards {
    margin-top: 4.6rem;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(15, 1fr);
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.card span {
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #000000;
}

.card label {
    font-family: Roboto;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E8E;
}

.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ;
    margin: 0rem 0rem 1rem;
    padding: 2rem 1.0323rem 1rem;
    background: #FFFFFF;
    border-radius: .25rem;
}

.view h5 {
    font-weight: 400;
    font-size: 1.125rem;
    color: #2C2C2C;
}

.graph {
    padding: 1rem 1rem 1rem;

}

.pi {

    color: #1473E6;
}

:host::ng-deep.p-calendar {
    height: 0rem;
    width: 3rem;
    margin-left: 75rem;
    margin-top: .625rem;


}

:host::ng-deep.p-card-shadow {

    height: 7.625rem;
    width: 12.5rem;
    color: #000000;
    left: 0rem;

}

:host::ng-deep.p-table {
    width: 80.25rem;
    height: 5.5rem;

}

:host::ng-deep.p-avatar {
    background-color: #DAE9FC;
    color: #1473E6;
    margin-right: 1.875rem;
    font-size: .875rem;

}

