<div class="dashboard">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="heading">
    <div class="mainheading">
        <h1>Dashboard</h1>
        <i class="pi pi-bell" style="font-size: 1.3rem"></i>

    </div>
    <div class="cards">
        <div class="card">
            <p-card header="2,223,214" subheader="Total view" [style]="{width: '200px', height: '97px', color: '#000000'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template> 
            </p-card>
        </div>
        <div class="card">
            <p-card header="1,312,022" subheader="Total Download" [style]="{width: '200px', height: '97px', color: '#000000'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
            </p-card>
    
        </div>
        <div class="card">
            <p-card header="1,959,453" subheader="Total Read" [style]="{width: '200px', height: '97px', color: '#000000'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
            </p-card>
        </div>
        <div class="card">
            <p-card header="234,032" subheader="Total comments" [style]="{width: '200px', height: '97px', color: '#000000'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
            </p-card>
        </div>
        <div class="card">
            <p-card header="234,032" subheader="Total comments" [style]="{width: '200px', height: '97px', color: '#000000'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                </ng-template>
            </p-card>
        </div>

    </div>
    
</div>

</div>
