<div class="dashboard">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="mainheading">
        <div class="header">
            <div class="heading">
                <h2>Dashboard</h2>
            </div>
            <div class="images">
                <div>
                    <i class="pi pi-bell"></i>
                </div>
                <div>
                    <img src="/assets/girl icon.jpg">
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <p-card header="2,223,214" subheader="Total view" styleClass="p-card-shadow" (click)="oncardclick(1.3)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-card>

            </div>

            <div class="card">
                <p-card header="1,312,022" subheader="Total Download" styleClass="p-card-shadow"
                    (click)="oncardclick(2.7)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-card>

            </div>

            <div class="card">
                <p-card header="1,959,453" subheader="Total Read" styleClass="p-card-shadow" (click)="oncardclick(3.3)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-card>
            </div>
            <div class="card">
                <p-card header="234,032" subheader="Total comments" styleClass="p-card-shadow"
                    (click)="oncardclick(1.1)">
                    <ng-template pTemplate="header">
                    </ng-template>
                </p-card>
            </div>

        </div>
        <div class="view">
            <h5>View Statistic</h5>

            <p-calendar dateFormat="dd.mm.yy" styleClass="p-card-color"></p-calendar><i
                class="pi pi-calendar-minus">Yesterday</i>
        </div>
        <div class="graph">
            <p-chart width="1500px" height="200px" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
        <div class="view">
            <div>
                <h5>Users</h5>
            </div>
            <div>
                <span class="pi">See more</span>
            </div>

        </div>
        <div class="line">
            <hr>
        </div>

        <div class="table">

            <p-table [value]="products" responsiveLayout="scroll">
                <ng-template pTemplate="header">

                </ng-template>
                <ng-template pTemplate="body" let-product>

                    <tr>

                        <td>
                            <p-avatar styleClass="p-mr-2" size="large" shape="circle">
                                {{product.label}}</p-avatar>{{product.Name}}
                        </td>

                    </tr>
                </ng-template>

            </p-table>

        </div>

    </div>


</div>