.dashboard {
    display: flex;


}

.mainheading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 0 1rem 0;
    font-family: 'Roboto';


}

.mainheading h1 {

    color: #0A376E;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 30px;
}

.heading {
    display: grid;
    width: 1390px;
    height: 1050px;
    // row-gap: 50px;
    // grid-template-columns: auto auto;
    // padding: 10px;
}

.cards {
    display: grid;
    column-gap: 0;
    grid-template-columns: auto auto auto auto;
    padding: 2rem 1rem rem;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0rem 6rem 1rem 6;



}

.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 0rem 1rem;
    padding: 2rem 1.0323rem 1rem;
    background: #FFFFFF;
    /* color-gray-200 */

    border-radius: 4px;
}

.view h3 {
    font-weight: 400;
    font-size: 18px;
    color: #2C2C2C;
}

.graph {
    padding: 1rem 1rem 1rem;

}

.pi {

    color: #1473E6;


}

.p-card-shadow.p-card {
    width: 200px;
    height: 97px;
    color: #000000;
}

.p-card-border.p-card {
    width: 1284px;
    height: 88px;
    color: #2C2C2C;
    border: 1px solid #F5F5F5;
    font-weight: 400;
    font-size: 14px;

}

.p-card-border.p-card {
    color: #1473E6;
    //     font-weight: 400;
    // font-size: 18px;
}

.p-card-color.p-calendar {
    height: 0px;
    width: 0px;
    margin-left: 1120px;
}
